<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body class="body">
    <div class="pannello1">
        <div class="funzioniPrincipali">
            <div class="task">
                <a href="{{(url_for('visualizzaTask'))}}">Task</a>
            </div>
        </div>
    </div>
</body>