<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body class="body">

    <div class="sidebar">
        <a href="{{ (url_for('aggiunta')) }}">Aggiungi Task</a>

        <div class="side1">
            <h4 class="text-center">Gestione Task da lavorare</h4>
            <a href="{{ url_for('visualizzaTask', stato='da_fareB') }}">Da Fare</a>
            <a href="{{ url_for('visualizzaTask', stato='in_sospesoB') }}">In Sospeso</a>
            <a href="{{ url_for('visualizzaTask', stato='chiuseB') }}">Chiuse</a>
        </div>

        <div class="side2">
            <h4 class="text-center">Gestione Task assegnate da me</h4>
            <a href="{{ url_for('visualizzaTask', stato='da_fare') }}">Da Fare</a>
            <a href="{{ url_for('visualizzaTask', stato='in_sospeso') }}">In Sospeso</a>
            <a href="{{ url_for('visualizzaTask', stato='chiuse') }}">Chiuse</a>
        </div>


    </div>

    <div class="pannello1">

        {% for ta in task %}
        <div class="task">
            <p><span>Id:</span> {{ta[0]}}</p>
            <p><span>Titolo:</span> {{ta[1]}}</p>
            <p><span>Descrizione:</span> {{ta[2]}}</p>
            <p><span>Priorità:</span> {{ta[3]}}</p>
            <p><span>Inserito da:</span> {{ta[4]}} {{ta[5]}}</p>
            <p><span>Assegnato a:</span> {{ta[7]}} {{ta[8]}}</p>
            <p><span>Stato:</span> {{ta[12]}}</p>
            <p><span>Luogo:</span> {{ta[13]}}</p>
            <p><span>Data:</span> {{ta[10]}}</p>
            <p><span>Ora:</span> {{ta[11]}}</p>
            <button class="open-popup" data-id="{{ta[0]}}">Modifica</button>
            <form action="{{ url_for('cancellaTask', idR=ta[0]) }}" method="post">
                <button type="submit" class="cancella">CANCELLA</button>
            </form>


            <div class="popup" id="popupForm">
                <div class="popup-content">
                    <span class="close-popup">&times;</span>
                    <form action="{{(url_for('modificaTask', ida=ta[0]))}} {{ ta[0] }}" method="post">
                        <label for="titolo">Titolo:</label>
                        <input type="text" id="titolo" name="titolo" value="{{ ta[1] }}" required>

                        <label for="descrizione">Descrizione:</label>
                        <textarea id="descrizione" name="descrizione">{{ ta[2] }}</textarea>

                        <label for="priorita">Priorità:</label>
                        <input type="number" id="priorita" name="priorita" value="{{ ta[3] }}" required>

                        <select name="assegnatoA" id="re" style="font-size: 16px; color: black; background-color: white; width:66%;">
                            {% for ute in utenti %}
                            <option value="{{ute[1]  }}" style="color:black">{{ute[2]  }} {{ute[6]  }}</option>
                            {% endfor %}
                        </select>

                        <label for="luogo">luogo svolgimento attività:</label>
                        <input type="text" id="luogo" name="luogo" value="{{ ta[13] }}" required>


                        <button type="submit">Salva</button>
                    </form>
                </div>
            </div>
        </div>
       {% endfor %}
        
</body>