<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body class="body">
    <div class="pannello1">
        <div class="task">
            {% for ta in task %}
                <p>id:{{ta[0]}}</p>
                <p>titolo:{{ta[1]}}</p>
                <p>descrizione:{{ta[2]}}</p>
                <p>priorità:{{ta[3]}}</p>
                <p>inserito da:{{ta[4]}} {{ta[5]}}</p>
                <p>assegnato a:{{ta[7]}} {{ta[8]}}</p>
                <p>stato:{{ta[12]}}</p>
                <p>luogo:{{ta[13]}}</p>
                <p>data:{{ta[10]}}</p>
                <p>ora:{{ta[11]}}</p>
            {% endfor %}
        </div>
    </div>
</body>